.body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.register{
    width: 300px;
    background-color: #FFFFFF;
    border-bottom: 10px solid #46A358;
    padding-top: 52px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 40px;
    margin: 50px auto;
}

.switch{
    color: #3D3D3D;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px; /* 80% */
    border: none;
    background-color: #FFFFFF;
    align-items: center;
    padding-top: 52px;
    padding-left: 72px;
    padding-right: 12px;
    padding-bottom: 40px;
}

.option{
    color: #46A358;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px; /* 80% */
    border: none;
    background-color: #FFFFFF;
    align-items: center;
    padding-top: 52px;
    padding-left: 10px;
    padding-right: 71x;
    padding-bottom: 40px;
}

.enter{
    color: #3D3D3D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
    padding-right: 45x;
    padding-bottom: 14px;
}

.default-input{
    font-size: 14px;
    line-height: 16px;
    color: #A5A5A5;
    border: 1px solid #EAEAEA;
    padding-top: 12px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 12px;
    border-radius: 5px;
    width: 270px;
}

.line{
    margin-bottom: 16px;
}

.submit{
    font-family: inherit;
    border: none;
    background: #46A358;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px; /* 100% */
    padding-top: 16px;
    padding-left: 119px;
    padding-right: 118px;
    padding-bottom: 13px;
    border-radius: 5px;
    margin-top: 57px;
}

.continue{
    border: 1px solid #EAEAEA;
    color: #727272;
    text-decoration: none;
    border-radius: 5px;
    width: 298px;
    height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: block;
}

.continue img{
    display: inline-block;
    vertical-align: middle;
}

.text{
    color: #3D3D3D;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 27px;
}